/* CSS declarations go here */
body { padding:40px; }
img {
    max-width: 100%;
    max-height: 100%;
}

/* styling for noteForm if it messes anything up then change it to be
more specific */

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.save-btn {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.save-btn:hover {
    background-color: #45a049;
}



.modalBtn {
    
}

.trash {
  
}

.trash:hover {
    
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
}

/* Modal CSS */

.center {
    margin-top:50px;   
}

.modal-header {
	padding-bottom: 5px;
}

.modal-footer {
    	padding: 0;
	}
    
.modal-footer .btn-group button {
	height:40px;
	border-top-left-radius : 0;
	border-top-right-radius : 0;
	border: none;
	border-right: 1px solid #ddd;
}
	
.modal-footer .btn-group:last-child > button {
	border-right: 0;
}

.tooltip {
  z-index: 1001;
  pointer-events: none;
  transition: opacity .1s ease-out;
  opacity: 0;
	background: #BDC3C7;
    border-color: #BDC3C7;
   padding: 10px;
  border-radius: 6px;
  pointer-events: all;
  max-width: 550px;
  max-height: 700px;
  overflow: auto;
}

.tooltip.hide {
    opacity: 0;
  }
  
.tooltip.show {
    opacity: 1;
    border: opacity 0.5;
  }

.tooltip-note-bg {
    background: white;
    padding: 10px;
}

