<template name='Intro'>
	<form id="myform" class="notes" >
    <h3 > Welcome To Hover Note </h3>
    <p>Add a new note by clicking on the add note button in the top-left.</p>
    <p>View your saved notes on this page.</p>
    <p>You have to be logged in to see notes or add a new one</p>
    <p>For note options click on the cog button on that note, the pencil is to 
        edit that note, the two pages will be for copying a note link, but
        it doesnt work yet, the heart is to favorite or unfavorite, the lock is to 
        make public or private, and the trash can is to delete
        ..</p>
        <br>
        <p> The public notes show up grayish purple (im sure the color will change
            in the future but it works for now), click on the favorites button on the side bar to see favorites
             </p>
    <p>Edit and Delete buttons do not work on individual note pages yet</p>
  </form>
</template>