<template name='Intro'>
	<form id="myform" class="notes" >
    <h3 > Welcome To Hover Note </h3>
    <p>Add a new note by clicking on the add note button in the top-left.</p>
    <p>View your saved notes on this page.</p>
    <p>You have to be logged in to see notes or add a new one</p>
    <p>If you want to edit or delete a note select or put your mouse on that note and then the update and trash buttons will appear</p>
    <p>Edit and Delete buttons do not work on individual note pages yet</p>
  </form>
</template>